*, *::before, *::after {box-sizing: border-box;}  html {font-family: sans-serif;line-height: 1.15;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-ms-overflow-style: scrollbar;-webkit-tap-highlight-color: transparent;}  @-ms-viewport {  width: device-width;  }  article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {display: block;}  body {margin: 0;font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";font-size: 1rem;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;background-color: #fff;}  [tabindex="-1"]:focus {outline: 0 !important;}  hr {box-sizing: content-box;height: 0;overflow: visible;}  h1, h2, h3, h4, h5, h6 {margin-top: 0;margin-bottom: 0.5rem;}  p {margin-top: 0;margin-bottom: 1rem;}  abbr[title], abbr[data-original-title] {text-decoration: underline;-webkit-text-decoration: underline dotted;text-decoration: underline dotted;cursor: help;border-bottom: 0;}  address {margin-bottom: 1rem;font-style: normal;line-height: inherit;}  ol, ul, dl {margin-top: 0;margin-bottom: 1rem;}  ol ol, ul ul, ol ul, ul ol {margin-bottom: 0;}  dt {font-weight: 700;}  dd {margin-bottom: .5rem;margin-left: 0;}  blockquote {margin: 0 0 1rem;}  dfn {font-style: italic;}  b, strong {font-weight: bolder;}  small {font-size: 80%;}  sub, sup {position: relative;font-size: 75%;line-height: 0;vertical-align: baseline;}  sub {bottom: -.25em;}  sup {top: -.5em;}  a {color: #007bff;text-decoration: none;background-color: transparent;-webkit-text-decoration-skip: objects;}  a:hover {color: #0056b3;text-decoration: underline;}  a:not([href]):not([tabindex]) {color: inherit;text-decoration: none;}  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {color: inherit;text-decoration: none;}  a:not([href]):not([tabindex]):focus {outline: 0;}  pre, code, kbd, samp {font-family: monospace, monospace;font-size: 1em;}  pre {margin-top: 0;margin-bottom: 1rem;overflow: auto;-ms-overflow-style: scrollbar;}  figure {margin: 0 0 1rem;}  img {vertical-align: middle;border-style: none;}  svg:not(:root) {overflow: hidden;}  table {border-collapse: collapse;}  caption {padding-top: 0.75rem;padding-bottom: 0.75rem;color: #6c757d;text-align: left;caption-side: bottom;}  th {text-align: inherit;}  label {display: inline-block;margin-bottom: .5rem;}  button {border-radius: 0;}  button:focus {outline: 1px dotted;outline: 5px auto -webkit-focus-ring-color;}  input, button, select, optgroup, textarea {margin: 0;font-family: inherit;font-size: inherit;line-height: inherit;}  button, input {overflow: visible;}  button, select {text-transform: none;}  button, html [type="button"], [type="reset"], [type="submit"] {-webkit-appearance: button;}  button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {padding: 0;border-style: none;}  input[type="radio"], input[type="checkbox"] {box-sizing: border-box;padding: 0;}  input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {-webkit-appearance: listbox;}  textarea {overflow: auto;resize: vertical;}  fieldset {min-width: 0;padding: 0;margin: 0;border: 0;}  legend {display: block;width: 100%;max-width: 100%;padding: 0;margin-bottom: .5rem;font-size: 1.5rem;line-height: inherit;color: inherit;white-space: normal;}  progress {vertical-align: baseline;}  [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}  [type="search"] {outline-offset: -2px;-webkit-appearance: none;}  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {-webkit-appearance: none;}  ::-webkit-file-upload-button {font: inherit;-webkit-appearance: button;}  output {display: inline-block;}  summary {display: list-item;cursor: pointer;}  template {display: none;}  [hidden] {display: none !important;}
@font-face{font-family:'FShabnam';src:url('../font/Shabnam.woff') format('woff'),url('../font/Shabnam.ttf') format('truetype');}
@font-face{font-family:'FShabnamB';src:url('../font/Shabnam-Bold.woff') format('woff'),url('../font/Shabnam-Bold.ttf') format('truetype');}
::selection{background: var(--clr1); color:#fff;}
::-moz-selection{background: var(--clr1); color:#fff;}
a{text-decoration:none !important;} a:hover{text-decoration:none !important;} a:active{text-decoration:none !important;}
.noSelect{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.hidden{display: none;}
.mt-40{margin-top: 40px;}
.ts-3{transition: .3s;}
.ts-4{transition: .4s;}

:root {
    --clr1: #05c46b;
}
body{
    direction: rtl;
    background: #eee;
    text-align: right;
}

/*
    Header styles
 */
.pageTitle{
    color: #333;
    font: 27px 'FShabnamB';
}
#ptSettingForm{
    margin-top: 30px;
}
.ptCityInput{
    display: inline-block;
    width: 68%;
    color: #333;
    font: 17px 'FShabnam';
    border: 1px solid #ddd;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 9px 15px 10px 15px;
}
.ptCityInput:hover{
    border-color: #bbb;
}
.ptCityInput:focus{
    border-color: var(--clr1);
    box-shadow: 0px 0px 8px 1px rgba(5, 196, 107, .3);
}
.ptCityInputBtn{
    display: inline-block;
    width: 32%;
    height: 44px;
    background: var(--clr1);
    color: #fff;
    font: 17px 'FShabnam';
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    float: left;
    padding-top: 10px;
    cursor: pointer;
}
#ptCitySearchResult{
    width: 68%;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, .08);
}
#ptCitySearchList{
    margin-bottom: 5px;
    padding: 4px 0 0 0;
}
#ptCitySearchList li{
    color: #333;
    font: 17px 'FShabnam';
    list-style: none;
    padding: 8px 15px;
    cursor: pointer;
}
#ptCitySearchList li:hover{
    background: #eee;
}
#ptCitySearchList li:active{
    background: var(--clr1);
    color: #fff;
}
#ptGPSBtn{
    width: 100%;
    height: 44px;
    background: #999;
    color: #fff;
    font: 17px 'FShabnam';
    text-align: center;
    border-radius: 4px;
    float: left;
    padding-top: 10px;
    cursor: pointer;
}
#ptGPSBtn:hover{
    background: #888;
}
.ptSettingRadioContainer{
    display: inline-block;
    margin-left: 30px;
}
.ptSettingRadio{
    float: right;
    margin: 13px 0 0 6px;
}
.ptSettingRadioLabel{
    color: #333;
    font: 17px 'FShabnam';
    margin-top: 9px;
}

/*
    Body styles
 */
#ptBody{
    margin-top: 50px;
}
.ptDayBox{
    width: 100%;
    background: #fff;
    border: 1px solid #fff;
    border-top: 3px solid #555;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
    padding-top: 22px;
}
.ptDayBoxToday{
    border-top: 3px solid var(--clr1);
}
.ptDayBoxTitle{
    color: #333;
    font: 23px 'FShabnamB';
    text-align: center;
    margin-bottom: 4px;
}
.ptDayBoxDate{
    direction: ltr;
    color: #444;
    font: 18px 'FShabnam';
    text-align: center;
    border-bottom: 1px dashed #bbb;
    padding-bottom: 5px;
    margin: 0 20px 10px 20px;
}
.ptDayBox div:last-child{
    border-bottom: none;
}
.ptDayBoxTime{
    border-bottom: 1px solid #e2e2e2;
    padding: 8px 15px 8px 15px;
}
.ptDayBoxIcon{
    width: 100%;
}
.ptDayBoxTimeName{
    color: #999;
    font: 16px 'FShabnam';
    text-align: center;
    padding-left: 17px;
    margin-top: 4px;
}
.ptDayBoxTimeValue{
    direction: ltr;
    color: #444;
    font: 18px 'FShabnamB';
    font-weight: bold;
    text-align: center;
    padding-left: 17px;
}

/*
    Media queries
 */
@media screen and (max-width: 500px) {
    #ptForMobile{display: block !important;}
    #ptForDesktop{display: none !important;}
}
@media screen and (min-width: 501px) {
    #ptForDesktop{display: block !important;}
    #ptForMobile{display: none !important;}
}